{{> header }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Mi presentacion</h1>
        </div>
        <div class="col-4">
            <img src="resource/img/IMG_20200517_155857.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}